body {
    background-color: #fffdfd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

#subtitulo {
    color: #515151;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    color: #7c7c7c;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 300;
}

p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(195, 195, 195);
    font-weight: 100;
    text-align: center;
    margin-top: 5%;    
}

#textarea {
    display: block;
    height: 180px;
    width: 45%;
    background-color: #EBEDED;
    font-size: 1rem;
    margin: 1.2rem auto;
    border-radius: 10px;
    padding: 10px;
    resize: none; /* Remove a capacidade de redimensionar */
    border: 1px solid rgb(233, 233, 233); /* Adiciona uma borda leve */
    box-sizing: border-box;
}

#speak {
    font-family: sans-serif;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    width: 45%; 
    padding: 1%;
    margin: 2% auto;
    border-radius: 5px;   
    color: rgb(240, 238, 238);
    background-color: #7FAEDC; 
    text-decoration: none;
    overflow: hidden;
    text-align: center; 
    border: none;
}

#speak:hover {
    background: #4A90E2; 
    color: white;
}

#speak:after {
    content: "";
    background-color: rgb(253, 253, 253);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 2s;
}

#speak:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
